/****** Script for SelectTopNRows command from SSMS  ******/
SELECT count_big(Id)
  FROM [StackOverflow].[dbo].[Users]
  where Location = 'Russia' or 
  Location = 'russia' or 
  Location = 'ru' or 
  Location = 'RU' or
  Location = 'Moscow' or
  Location = 'Saint Petersburg' or
  Location = 'Novosibirsk' or
  Location = 'Yekaterinburg' or
  Location = 'Nizhny Novgorod' or
  Location = 'Kazan' or
  Location = 'Chelyabinsk' or
  Location = 'Omsk' or
  Location = 'Samara' or
  Location = 'Rostov-on-Don' or
  Location = 'Ufa' or
  Location = 'Krasnoyarsk' or
  Location = 'Perm' or
  Location = 'Voronezh' or 
  Location = 'Volgograd' or 
  Location = 'Krasnodar' or
  Location = 'Saratov' or
  Location = 'Tyumen' or
  Location = 'Siberia' or
  Location = 'Volga' or
  Location = 'Tolyatti' or
  Location = 'Izhevsk' or
  Location = 'Москва' or
  Location = 'Санкт-Петербург' or
  Location = 'Новосибирск' or
  Location = 'Екатеринбург' or
  Location = 'Нижний Новгород' or
  Location = 'Казань' or
  Location = 'Челябинск' or
  Location = 'Омск' or
  Location = 'Самара' or
  Location = 'Ростов-на-Дону' or
  Location = 'Уфа' or
  Location = 'Красноярск' or
  Location = 'Пермь' or
  Location = 'Воронеж' or
  Location = 'Волгоград' or
  Location = 'Tolyatti' or 
  Location = 'Izhevsk' or 
  Location = 'Barnaul' or
  Location = 'Ulyanovsk' or
  Location = 'Irkutsk' or
  Location = 'Khabarovsk' or
  Location = 'Yaroslavl' or
  Location = 'Vladivostok' or
  Location = 'Makhachkala' or
  Location = 'Tomsk' or
  Location = 'Orenburg' or
  Location = 'Kemerovo' or
  Location = 'Novokuznetsk' or
  Location = 'Ryazan' or
  Location = 'Astrakhan' or
  Location = 'Naberezhnye Chelny' or
  Location = 'Penza' or 
  Location = 'Lipetsk' or 
  Location = 'Kirov' or
  Location = 'Cheboksary' or
  Location = 'Tula' or
  Location = 'Kaliningrad' or
  Location = 'Balashikha' or
  Location = 'Kursk' or
  Location = 'Stavropol' or
  Location = 'Ulan-Ude' or
  Location = 'Tver' or
  Location = 'Magnitogorsk' or
  Location = 'Sochi' or
  Location = 'Ivanovo' or
  Location = 'Bryansk' or
  Location = 'Belgorod' or
  Location = 'Surgut' or
  Location = 'Vladimir' or
  Location = 'Nizhny Tagil' or
  Location = 'Arkhangelsk' or
  Location = 'Chita' or
  Location = 'Kaluga' or
  Location = 'Smolensk' or
  Location = 'Volzhsky'